<%= form_for @application do |f| %>
<div class="container center-align">
    <% if flash[:error] %>
        <% flash[:error].each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    <% end %>
    
    <div class="row valign-wrapper">
      <div class="col s6 offset-s3 valign">
        <div class="card">
          <div class="card-content">

            <div class="field">
                <select name="job_application[status]">
                  <option value="" disabled selected>Choose job application status...</option>
                  <option value="Considering Applying">Considering Applying</option>
                  <option value="Researching Company">Researching Company</option>
                  <option value="Preparing to Apply">Preparing to Apply</option>
                  <option value="Applied">Applied</option>
                  <option value="Interviewing">Interviewing</option>
                  <option value="Offer">Offer</option>
                  <option value="Rejected">Rejected</option>
                </select>
            </div>

            <div class="field">
                <%= f.label :position, :required => true %>
                <%= f.text_field :position %>
            </div>

            <div class="field">
            <%= f.fields_for :company do |company_form| %>
                <%= company_form.label :'Company Name', :required => true %>
                <%= company_form.text_field :name %>
            <% end %>
            </div>
          </div>

          <div class="card-action">
            <%= f.submit "Submit", :class => "btn blue darken-1" %> <br>
          </div>
        </div>
      </div>
    </div>
</div>
<% end %>