<div class="container">
    <h4><%= @application.company.name %> Application</h4>
    <h5>Status: <%= @application.status %></h5>
    <h5>Position: <%= @application.position %></h5>


    <%= link_to "Edit Application", edit_job_application_path(@application), class: "btn blue darken-1" %>
    <%= link_to "Delete Application", job_application_path, method: :delete, class: "btn red darken-1" %>
    <%= link_to "All Applications", job_applications_path %>
</div>